apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "zing.fullname" . }}
  labels:
    {{- include "zing.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "zing.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "zing.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "zing.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: grpc
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- if .Values.app.redis.enabled }}
          env:
            {{- if .Values.app.redis.addr }}
            - name: REDIS_ADDR
              value: {{ .Values.app.redis.addr | quote }}
            {{- else if .Values.app.redis.host }}
            - name: REDIS_ADDR
              value: {{ printf "%s:%v" .Values.app.redis.host (default 6379 .Values.app.redis.port) | quote }}
            {{- end }}
            {{- if .Values.app.redis.username }}
            - name: REDIS_USERNAME
              value: {{ .Values.app.redis.username | quote }}
            {{- end }}
            {{- if .Values.app.redis.existingSecret }}
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.app.redis.existingSecret }}
                  key: {{ .Values.app.redis.existingSecretPasswordKey }}
            {{- else if .Values.app.redis.password }}
            - name: REDIS_PASSWORD
              value: {{ .Values.app.redis.password | quote }}
            {{- end }}
            {{- if hasKey .Values.app.redis "db" }}
            - name: REDIS_DB
              value: {{ .Values.app.redis.db | quote }}
            {{- end }}
            {{- if hasKey .Values.app.redis "tls" }}
            - name: REDIS_TLS
              value: {{ ternary "true" "false" .Values.app.redis.tls | quote }}
            {{- end }}
          {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
